/* Отлючение блоков */

.popup_map {
  display: none;
}

.write_us {
  display: none;
}

.message_buy {
  display: none;
}

/* Переменные */

:root {
  --Basic-red: #EE3643;
  --Basic-green: #63A63E;
  --Basic-grey: #3D546F;
  --Basic-greylight: #C5C5C5;
  --Basic-background: #F1F5F7;
  --Wight: #FFFFFF;
  --Special-ylellow: #FFBF47;
  --Second-special-ylellow: #FFC047;
  --Special-blue: #3BBCE3;
  --Special-lilac: #DC91D8;
  --Special-greenlight: #8ED78F;
  --Special-yellowlight: #FFD180;
  --Success: #5FBB2D;
  --Warning: #FFBF47;
  --Error: #BA2732;
  --Text-black: #000000;
  --Dark-blue: #161D29;
  --Nav-blue: #32425C;
  --Nav-active: #1D2739;
  --Nav-shadow: #293449;
  --border-card: #EAEAEA;
  --Backgraund-popular: #F9F5F0;
  --buy-button-shadow: #367315;
  --buy-button-active: #518534;
  --old-price: #A9A9A9;
  --tile-none: rgba(255, 255, 255, 0.3);
  --tile-active: rgba(169, 169, 169, 0.3);
  --tile-hover: rgba(197, 197, 197, 0.3);
  --Semi-transparent: rgba(255, 255, 255, 0.5);
  --first-font: 'Cuprum', Arial, sans-serif;
  --second-font: 'PT Sans', Arial, sans-serif;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: var(--first-font, Arial, sans-serif);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--Text-black, black);
  background-color: var(--Wight, white);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--Wight, white);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* header */

.header-site {
  background-color: var(--Basic-background, lightblue);
}

.top-header-site {
  background-color: var(--Basic-grey, darkblue);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--Wight, white);
}

/* Логотип работает странно плохо, переделать */

.logo-header-site {
  display: block;
  width: 220px;
  height: 47px;
  padding: 12px 57px 17px 55px;
  background-color: var(--Basic-red, red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo-header-site[href]:active {
  background-color: var(--Error, darkred);
}

.input-search {
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

.input-search::-moz-placeholder {
  color: var(--Wight, white);
}

.input-search::-webkit-input-placeholder {
  color: var(--Wight, white);
}

/* переделать, когда добавлю лупу */

.input-search:hover::-moz-placeholder {
  color: var(--Semi-transparent, gray);
}

.input-search:hover::-webkit-input-placeholder {
  color: var(--Semi-transparent, gray);
}

.input-search:focus {
  background-color: var(--Wight, white);
  color: var(--Text-black, black);
}

.link-bookmarked:hover,
.link-bookmarked:focus,
.link-bascet:hover,
.link-bascet:focus {
  /* Иконка меняет подсветку, и у поиска тоже. Но у нас пока нет икогок */
}

.link-bookmarked:active,
.link-bascet:active {
  color: var(--Semi-transparent);
  background-color: var(--Dark-blue, darkblue);
}

.link-arrange {
  background-color: var(--Basic-green, lightgreen);
}

.link-arrange:focus,
.link-arrange:hover {
  background-color: var(--Success, green);
}

.link-arrange:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--Basic-green, lightgreen);
}

.header-title {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--Basic-red, red);
}

.contact-header-site .tel {
  display: block;
  width: 270px;
  height: 45px;
  border: 3px solid var(--Basic-red, white);
  font-family: var(--first-font, Arial);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: var(--Basic-red, red);
}

.contact-header-site .adress {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--Nav-blue, darkblue);
}

.entrace .link {
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--Text-black, black);
  background-color: var(--Wight, white);
}

.entrace .link:hover, .entrace .link:focus {
  color: var(--Basic-red, red);
}

.entrace .link:active {
  color: var(--Basic-greylight, lightgray);
}

/* когда появятся иконки сделать их интерактивными */

.output-name-user .link-name-user {
  background-color: var(--Wight, white);
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--Text-black, black);
}

.output-name-user .link-name-user:active {
  color: var(--Basic-greylight, gray);
}

.nav-person .link {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--Nav-blue, darkblue);
  background-color: transparent;
}

.nav-person .link:hover, .nav-person .link:focus {
  color: var(--Basic-red, red);
}

.nav-person .link:active {
  color: var(--Basic-greylight, lightgray);
}

/* А чему тут лучше задавать фон, nav, ul, li или a? */

.nav-header-site .link {
  background-color: var(--Nav-blue, blue);
  box-shadow: inset 0px -5px 0px var(--Nav-shadow, darkblue);
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.nav-header-site .link[href]:focus, .nav-header-site .link[href]:hover {
  background-color: var(--Nav-shadow);
}

.nav-header-site .link[href]:active {
  background-color: var(--Nav-active, darkblue);
  box-shadow: inset 0px -5px 0px var(--Nav-shadow, darkblue);
  color: var(--Semi-transparent, gray);
}

/* footer */

.footer-site {
  background-color: var(--Nav-blue, blue);
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.logo-footer-site {
  display: block;
  width: 220px;
  height: 68px;
  padding: 21px 42px 25px 42px;
  background-color: var(--Basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.adress-footer-site {
  color: var(--Basic-background, white);
}

.nav-footer-site .link {
  color: var(--Basic-background, white);
}

.nav-footer-site .link[href]:hover,
.nav-footer-site .link[href]:focus {
  text-decoration: underline;
}

.nav-footer-site .link[href]:active {
  text-decoration: none;
  color: var(--Semi-transparent, gray);
}

.trade-footer-site .link {
  color: var(--Special-yellowlight, lightyellow);
}

.trade-footer-site .link:hover,
.trade-footer-site .link:focus {
  text-decoration: underline;
}

/* Я понимаю, что мы договаривались не испоьзовать opacity, но тут из за уникальности цвета он очень в тему  */

.trade-footer-site
.link:active {
  text-decoration: none;
  opacity: 0.5;
}

.bottom-footer-site {
  background-color: var(--Nav-shadow, darkblue);
}

.copyright-footer-site {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--Wight, white);
}

/* тут будет код для интерактивный иконок соц сетей */

.feedback .text {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--Wight, white);
}

.feedback .link {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--Special-yellowlight)
}

.feedback .link:hover,
.feedback .link:focus {
  text-decoration: underline;
}

.feedback .link:active {
  color: var(--Basic-red);
  text-decoration: none;
}

/* main */

.info-tile .name-tile {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--Wight, white);
}

.info-tile .button-tile {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--tile-none, red);
}

.info-tile .button-tile:hover,
.info-tile .button-tile:focus {
  background-color: var(--tile-hover, red);
}

.info-tile .button-tile:active {
  background-color: var(--tile-active, red);
}

.tile-material {
  background-color: var(--Special-ylellow, yellow);
}

.tile-tools {
  background-color: var(--Special-blue, lightblue);
}

.tile-technics {
  background-color: var(--Special-lilac, purple);
}

.tile-sale {
  background-color: var(--Special-greenlight, lightgreen);
}

.tile-delivery {
  background-color: var(--Second-special-ylellow, yellow);
}

.slider-promo .title {
  background-color: transparent;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-promo .description {
  background-color: transparent;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

/* Тут еще будут стили для кнопок */

.design-button {
  font-family: var(--first-font, Arial);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--Wight, white);
  background-color: var(--Basic-red, red);
}

.design-button:active {
  background-color: var(--Error, darkred);
}

.slide-drill {
  background-color: var(--Basic-grey, gray);
  background-image: url("../img/slide-drill.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.slide-perforator {
  background-color: var(--Basic-grey, gray);
  background-image: url("../img/slide-perforator.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.popular-products .top-section {
  background-color: var(--Backgraund-popular, lightgray);
}

.popular-products .top-section .title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--Nav-blue, blue);
}

.card-product {
  background-color: var(--Wight, white);
  border: 1px solid var(--border-card);
}

.card-product:focus .card-product:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.button-second-layer .button-buy {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--Wight, white);
  background-color: var(--Basic-green);
  box-shadow: inset 0px -3px 0px var(--buy-button-shadow, green);
  border-radius: 2px;
}

/* добавить иконку и интерактив сней */

.button-second-layer .button-buy:focus, .button-second-layer .button-buy:hover {
  background: var(--Success, lightgreen);
}

.button-second-layer .button-buy:active {
  background-color: var(--buy-button-active, darkgreen);
}

.button-second-layer .button-bookmark {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--Nav-blue, blue);
  background-color: transparent;
  border: 3px solid var(--Basic-green, green);
  border-radius: 2px;
}

/* добавить иконку и интерактив с ней */

.button-second-layer .button-bookmark:focus,
.button-second-layer .button-bookmark:hover {
  border-color: var(--Nav-blue, blue);
}

.button-second-layer .button-bookmark:active {
  opacity: 0.5;
}

.card-product .title {
  font-family: var(--second-font, Arial);
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--Text-black, black);
}

.card-product .old-price {
  font-family: var(--second-font, Arial);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: var(--old-price, gray);
}

/* я вырезал новую стрелку с фоном. Иначе я не понимаю, как сделать что бы фон не вылеза в вырезы стрелки */

.card-product .new-price {
  background-color: var(--Basic-red, red);
  background-image: url(/img/red-button-backgraund.png);
  background-repeat: no-repeat;
  font-family: var(--second-font, Arial);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--Wight, white);
}

.popular-vendors .top-section {
  background-color: var(--Backgraund-popular, lightgray);
}

.popular-vendors .top-section .title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--Nav-blue, blue);
}

.popular-vendors .vendor {
  background: var(--Wight, white);
  border: 1px solid var(--border-card, gray);
}

.popular-vendors .vendor:focus,
.popular-vendors .vendor:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-vendors .vendor:active {
  opacity: 0.5;
}

.service {
  background-color: var(--Basic-background, lightblue);
}

.service .title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--Text-black, black);
}

.service .text {
  font-family: var(--second-font, Arial);
  font-size: 13px;
  line-height: 24px;
  color: var(--Text-black, black);
}
/* тут будет оформление слайдера */
.service-slider {}

.button-slider-service {
  background-color: var(--Nav-blue, darkblue);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  align-items: center;
  color: var(--Wight, white);
  border: none;
  outline: none;
}

.button-slider-service:focus,
.button-slider-service:hover {
  background-color: var(--Nav-shadow, darkblue);
}

/* подсветка должна гореть пока на слайде */

.button-slider-service:active {
  background-color: var(--Wight, white);
  box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
  color: var(--Nav-blue, darkblue);
}

.slide-service .slide-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--Nav-blue, darkblue);
}

.slide-service .text {
  font-family: var(--second-font, Arial);
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--Text-black, black)
}

.bottom-main .title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--Text-black, black);
}

.bottom-main .text {
  font-family: var(--second-font, Arial);
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--Text-black, black);
}

.bottom-main .carrier {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--Text-black, black);
}
