/* Отлючение блоков */

.popup_map {
  display: none;
}

.write_us {
  display: none;
}

.message_buy {
  display: none;
}

/* Переменные */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --wight: #FFFFFF;
  --special-ylellow: #FFBF47;
  --second-special-ylellow: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --text-black: #000000;
  --dark-blue: #161D29;
  --nav-blue: #32425C;
  --nav-active: #1D2739;
  --nav-shadow: #293449;
  --border-card: #EAEAEA;
  --backgraund-popular: #F9F5F0;
  --buy-button-shadow: #367315;
  --buy-button-active: #518534;
  --old-price: #A9A9A9;
  --title-background: #F2F6F8;
  --filter-background: #F7F3EC;
  --border-button-catalog: #E5E5E5;
  --logo-shadow: rgba(0, 0, 0, 0.24);
  --card-shadow: rgba(0, 0, 0, 0.15);
  --tile-none: rgba(255, 255, 255, 0.3);
  --tile-active: rgba(169, 169, 169, 0.3);
  --tile-hover: rgba(197, 197, 197, 0.3);
  --semi-transparent: rgba(255, 255, 255, 0.5);
  --styly-button: rgba(0, 0, 0, 0.3);
  --first-font: "Cuprum", Arial, sans-serif;
  --second-font: "PT Sans", Arial, sans-serif;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--first-font, Arial, sans-serif);
  color: var(--Text-black, black);
  
  background-color: var(--Wight, white);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}


a {
  text-decoration: none;
  color: var(--Wight, white);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/* header */

.header-site {
  display: flex;
  flex-direction: column;
  background-color: var(--basic-background, lightblue);
}

.top-header-site {
  display: flex;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--Wight, white);
  background-color: var(--basic-grey, darkblue);
}

.wrapper {  
  display: inherit;  
  width: 940px;
  margin: 0 auto;
}

.trade-header-site {
  display: flex;
  align-items: center;
  width: 386px;
  height: 100%;  
}

.logo-header-site {
  display: block;
  width: 220px;
  height: 42px;
  padding: 12px 57px 17px 55px;

  box-shadow: inset 0 -5px 0 var(--logo-shadow, darkred);
  background-color: var(--basic-red, red);
}

.logo-header-site[href]:active {
  background-color: var(--error, darkred);
}

 .form-search {
   flex-grow: 1;
}

.input-search {
  width: 100%;
  height: 100%;
  padding-left: 42px;

  font: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

.input-search::-moz-placeholder {
  color: var(--wight, white);
}

.input-search::-webkit-input-placeholder {
  color: var(--wight, white);
}

/* переделать, когда добавлю лупу */

.input-search:hover::-moz-placeholder {
  color: var(--semi-transparent, gray);
}

.input-search:hover::-webkit-input-placeholder {
  color: var(--semi-transparent, gray);
}

.input-search:focus {
  color: var(--text-black, black);
  background-color: var(--wight, white);
}

.trade-header-site .link {
display: block;
max-width: 150px;
flex-grow: 1;
padding-top: 9px;
padding-bottom: 9px;
text-align: center;
}

.link-bookmarked:hover, 
.link-bookmarked:focus, 
.link-bascet:hover, 
.link-bascet:focus {
  /* Иконка меняет подсветку, и у поиска тоже. Но у нас пока нет икогок */
}

.link-bookmarked:active,
.link-bascet:active {
  color: var(--semi-transparent);
  background-color: var(--dark-blue, darkblue);
}

.trade-header-site .link-arrange {
  padding-left: 19px;
  padding-right: 16px;
  flex-grow: 0;

  background-color: var(--basic-green, lightgreen);
}

.link-arrange:focus,
.link-arrange:hover {
  background-color: var(--success, green);
}

.link-arrange:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-green, lightgreen);
}

.center-header-site {
  display: flex;
  padding-top: 46px;
  padding-bottom: 40px;
}

.header-title {
  width: 197px;
  margin: 0;
  margin-left: 33px;

  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red, red);
}

.text-center-header-site {
  width: 197px;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red, red);
}

.contact-header-site {
margin-left: 90px;
}
.contact-header-site .tel {
  display: inline-block;
  width: 270px;
  height: 45px;
  padding:7px 45px 8px 74px;
  
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: var(--first-font, Arial, sans-serif);
  color: var(--basic-red, red);
  
  border: 3px solid var(--wight, white);
}

.contact-header-site .adress {
  margin: 0px;
  margin-top: 3px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--nav-blue, darkblue);
}

.entrace {
display: flex;
margin-left: auto;
}

.entrace li:nth-child(1) .link{
padding: 12px 27px 12px 19px; 
}

.entrace li:nth-child(2) .link{
padding: 12px 24px;
margin-left: 10px;
}

.entrace .link {
  display: block;
  max-width: 160px;

  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--text-black, black);
  background-color: var(--wight, white);
}

.entrace .link:hover, 
.entrace .link:focus {
  color: var(--basic-red, red);
}

.entrace .link:active {
  color: var(--basic-greylight, lightgray);
}

/* когда появятся иконки сделать их интерактивными */

.output-name-user .link-name-user {
  display: block;
  padding: 12px 56px;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--text-black, black);
  background-color: var(--wight, white);
}

.output-name-user .link-name-user:active {
  color: var(--basic-greylight, gray);
}

.person {
  margin-left: auto
}

.nav-person {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  align-items: center;
}

.marker-nav-person {
  margin: 0px 13px;
  width: 7px;
	height: 7px;
	background: var(--nav-blue, darkblue);
	border-radius: 50%;
}

.nav-person .link {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--nav-blue, darkblue);
  background-color: transparent;
}

.nav-person .link:hover, 
.nav-person .link:focus {
  color: var(--basic-red, red);
}

.nav-person .link:active {
  color: var(--basic-greylight, lightgray);
}

.bottom-header-site {
  padding-bottom: 60px;
}

.nav-header-site {
  display: flex;
  flex-wrap: wrap;
}

.nav-header-site .link {
  display: block;
  padding: 16px 0 20px 0; 
  width: 134px;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  box-shadow: inset 0 -5px 0 var(--nav-shadow, darkblue);
  background-color: var(--nav-blue, blue);
}

.nav-header-site .link[href]:focus, 
.nav-header-site .link[href]:hover {
  background-color: var(--nav-shadow);
}

.nav-header-site .link[href]:active {
  color: var(--semi-transparent, gray);
  box-shadow: inset 0 -5px 0 var(--nav-shadow, darkblue);
  background-color: var(--nav-active, darkblue);
}

/* footer */

.footer-site {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--nav-blue, blue);
}

.top-footer-site {
padding-bottom: 54px;  
}
.first-line-footer-site {
display: flex;
justify-content: space-between;
}

.logo-footer-site {
  display: block;
  width: 220px;
  height: 68px;
  padding: 21px 42px 25px 42px;

  box-shadow: inset 0 -5px 0 var(--logo-shadow, darkred);
  background-color: var(--basic-red);
}

.adress-footer-site {
  margin-top: 22px;
  margin-bottom: 0px;
  color: var(--basic-background, white);
}

.nav-footer-site .list-links {
display: flex;
margin-top: 37px;
}

.nav-footer-site .link {
  margin-left: 59px;
  color: var(--basic-background, white);
}

.nav-footer-site .link[href]:hover, 
.nav-footer-site .link[href]:focus {
  text-decoration: underline;
}

.nav-footer-site .link[href]:active {
  text-decoration: none;
  color: var(--semi-transparent, gray);
}
.second-line-footer-site {
  display: flex;
  justify-content: space-between;
}

.trade-footer-site .list-links {
  display: flex;
  margin-top: 27px;
}

.trade-footer-site .link {
  margin-left: 59px;
  color: var(--special-yellowlight, lightyellow);
}

.trade-footer-site .link:hover, 
.trade-footer-site .link:focus {
  text-decoration: underline;
}

/* Я понимаю, что мы договаривались не испоьзовать opacity, но тут из за уникальности цвета он очень в тему  */

.trade-footer-site .link:active {
  text-decoration: none;
  opacity: 0.5;
}

.bottom-footer-site {
  display: flex;
  padding-top: 35px;
  padding-bottom: 29px;
  background-color: var(--nav-shadow, darkblue);
}

.copyright-footer-site {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--wight, white);
}

.social-footer-site {
  display: flex;
  margin-left: 161px;
}
/* тут будет код для интерактивный иконок соц сетей */

.feedback {
  display: flex;
  margin-right: 13px;
  margin-left: auto;
}

.feedback .text:nth-last-child(n+2) {
 margin-right: 51px;
}

.feedback .text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--wight, white);
}

.feedback .link {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-yellowlight, lightyellow);
}

.feedback .link:hover, 
.feedback .link:focus {
  text-decoration: underline;
}

.feedback .link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* main */

.info-tile .name-tile {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--wight, white);
}

.info-tile .button-tile {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--tile-none, red);
}

.info-tile .button-tile:hover, 
.info-tile .button-tile:focus {
  background-color: var(--tile-hover, red);
}

.info-tile .button-tile:active {
  background-color: var(--tile-active, red);
}

.tile-material {
  background-color: var(--special-ylellow, yellow);
}

.tile-tools {
  background-color: var(--special-blue, lightblue);
}

.tile-technics {
  background-color: var(--special-lilac, purple);
}

.tile-sale {
  background-color: var(--special-greenlight, lightgreen);
}

.tile-delivery {
  background-color: var(--second-special-ylellow, yellow);
}

.slider-promo .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: transparent;
}

.slider-promo .description {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
}

/* Тут еще будут стили для кнопок */

.design-button {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 9px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--first-font, Arial, sans-serif);
  text-align: center;
  text-transform: uppercase;
  color: var(--wight, white);
  background-color: var(--basic-red, red);
}

.design-button:active {
  background-color: var(--error, darkred);
}

.slide-drill {
  background-color: var(--basic-grey, gray);
  background-image: url("../img/slide-drill.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.slide-perforator {
  background-color: var(--basic-grey, gray);
  background-image: url("../img/slide-perforator.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.popular-products .top-section {
  background-color: var(--backgraund-popular, lightgray);
}

.popular-products .top-section .title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--nav-blue, blue);
}

.card-product {
  width: 220px;
  height: 100%;
  background-color: var(--wight, white);
  border: 1px solid var(--border-card);
}

.first-layer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  min-height: 318px;
}

.card-product:focus .card-product:hover {
  box-shadow: 0 4px 20px var(--card-shadow, lightgray);
}

.button-second-layer .button-buy {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--wight, white);
  
  box-shadow: inset 0 -3px 0 var(--buy-button-shadow, green);
  background-color: var(--basic-green);
  border-radius: 2px;
}

/* добавить иконку и интерактив сней */

.button-second-layer .button-buy:focus, 
.button-second-layer .button-buy:hover {
  background-color: var(--success, lightgreen);
}

.button-second-layer .button-buy:active {
  background-color: var(--buy-button-active, darkgreen);
}

.button-second-layer .button-bookmark {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--nav-blue, blue);
  
  background-color: transparent;
  border: 3px solid var(--basic-green, green);
  border-radius: 2px;
}

/* добавить иконку и интерактив с ней */

.button-second-layer .button-bookmark:focus, 
.button-second-layer .button-bookmark:hover {
  border-color: var(--nav-blue, blue);
}

.button-second-layer .button-bookmark:active {
  opacity: 0.5;
}

.card-product .title {
  margin-bottom: 7px;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: var(--second-font, Arial, sans-serif);
  text-align: center;
  color: var(--text-black, black);
}

.image-product {  
margin: auto;
order: -1;  
}

.card-product .old-price {
  margin: 0px;
  margin-bottom: 13px;
  min-height: 18px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: var(--old-price, gray);
}

/* я вырезал новую стрелку с фоном. Иначе я не понимаю, как сделать что бы фон не вылеза в вырезы стрелки */

.card-product .new-price {
  margin: 0px;
  margin-bottom: 21px;
  width: 141px;
  min-height: 38px;
  padding: 10px 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
  text-align: center;
  text-transform: uppercase;
  color: var(--wight, white);
  
  background-color: var(--basic-red, red);
  background-image: url("../img/red-button-backgraund.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.popular-vendors .top-section {
  background-color: var(--backgraund-popular, lightgray);
}

.popular-vendors .top-section .title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--nav-blue, blue);
}

.popular-vendors .vendor {
  background: var(--wight, white);
  border: 1px solid var(--border-card, gray);
}

.popular-vendors .vendor:focus, 
.popular-vendors .vendor:hover {
  box-shadow: 0 4px 20px var(--card-shadow, lightgray);
}

.popular-vendors .vendor:active {
  opacity: 0.5;
}

.service {
  background-color: var(--basic-background, lightblue);
}

.service .title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-black, black);
}

.service .text {
  font-size: 13px;
  line-height: 24px;
  font-family: var(--second-font, Arial, sans-serif);
  color: var(--text-black, black);
}

.service-slider {
/* тут будет оформление слайдера */
}

.button-slider-service {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--nav-blue, darkblue);
  align-items: center;
  color: var(--wight, white);
  
  border: none;
  outline: none;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.button-slider-service:focus, 
.button-slider-service:hover {
  background-color: var(--nav-shadow, darkblue);
}

/* подсветка должна гореть пока на слайде */

.button-slider-service:active {
  color: var(--nav-blue, darkblue);
  background-color: var(--wight, white);
  box-shadow: 0 1px 0 var(--wight, white), inset 0 1px 0 var(--wight, white);
}

.slide-service .slide-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--nav-blue, darkblue);
}

.slide-service .text {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: var(--second-font, Arial, sans-serif);
  color: var(--text-black, black)
}

.bottom-main {
  display: flex;
  width: 940px;
  margin: 70px auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 478px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.bottom-main .title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-black, black);
  margin-bottom: 11px;
}

.bottom-main .text {

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: var(--second-font, Arial, sans-serif);
  color: var(--text-black, black);
}

.bottom-main .text:last-of-type {
  margin-bottom: 0;
}

.carrier li{
  margin: 6px 0px;
}

.carrier :nth-child(1) {
  margin-top: 1px;
  margin-bottom: 6px;
}

.bottom-main .carrier {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-black, black);
}

.about-me .design-button {
  width: 220px;
  margin-top: auto;
}

.contact .design-button {
  width: 300px;
  margin-top: auto;
}

.map {
  display: block;
  width: 300px;
  height:158px;
  margin-top: 32px;
  margin-bottom: 25px;
}
/* main catalog */

.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
}
.main-title {
  grid-column: 1 / -1;
  margin: 0px;
  margin-bottom: 20px;

  padding: 29px 0 30px 28px;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--nav-blue, darkblue);
  background-color: var(--title-background, lightblue);
}

.breadcrumbs {
  grid-column: 1 / -1;
  order: -1;
  padding: 20px 0;
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumbs .link {
  padding-right: 40px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
  text-transform: uppercase;
  color: var(--text-black, black);
  background-color: transparent;
}

.filter .main-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
  text-transform: uppercase;
  color: var(--text-black, black);
  background-color: var(--filter-background, gray);
}

.brend .input-checkbox-brend {
  margin: 0px 12px 16px 0px;
}

.brend .checkbox-brend:nth-last-of-type(1) {
  margin-bottom: 26px;
}

.power-supply .input-radio {
  margin: 0 10px 16px 0;
}

.filter .catalog-button {
  width: 100%;
}

.filter .section-title {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: var(--second-font, Arial, sans-serif);
  text-transform: uppercase;
  color: var(--text-black, black);
  background-color: transparent;
}

.filter .checkbox-name-item {
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  font-family: var(--second-font, Arial, sans-serif);
  text-transform: uppercase;
  color: var(--text-black, black);
  background-color: transparent;
}

.filter .checkbox-name-item:active {
  opacity: 0.4;
}

/* прописать состояния для иконок */

.catalog-button {
  padding: 10px 15px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
  text-align: center;
  text-transform: uppercase;
  color: var(--text-black, black);
  
  background-color: var(--wight, white);
  border: 1px solid var(--border-button-catalog, gray);
  border-radius: 2px;
  outline: none;
}

.catalog-button:focus, 
.catalog-button:hover {
  border: 1px solid var(--basic-greylight, lightgray);
  border-radius: 2px;
}

.catalog-button:active {
  border: 1px solid var(--basic-red, red);
  border-radius: 2px;
}

.right-side-catalog {
  margin-left: 20px;
}

.sort {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
  text-transform: uppercase;
  color: var(--text-black, black);
  background-color: var(--filter-background);
}

.button-sort-text {
  color: var(--styly-button, gray);
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: var(--basic-red, red);
}

.button-sort-text:focus, 
.button-sort-text:hover {
  color: var(--text-black, black);
  border-bottom-style: solid;
}

.button-sort-text:active {
  color: var(--basic-red, red);
  border-bottom: none;
}

.catalog-product {
  margin-top: 28px;
}

.card-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  grid-gap: 20px;
}

/* код для стрелок */
.pagination-list {
  display: flex;
  margin-top: 48px;
}

.pagination-list .catalog-button {
  margin-right: 10px;
}

.pagination .catalog-button:not([href]) {
  color: var(--wight, white);
  background-color: var(--basic-red, red);
}

.second-info {
  background-color: var(--basic-background, lightblue);
}

.second-info .second-info-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-black, black);
  background-color: transparent;
}

.second-info .content {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: var(--second-font, Arial, sans-serif);
  color: var(--text-black, black);
  background-color: transparent;
}
