/* Переменные */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #293449;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --wight: #FFFFFF;
  --special-ylellow: #FFBF47;
  --second-special-ylellow: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --text-black: #000000;
  --dark-blue: #161D29;
  --nav-blue: #32425C;
  --nav-active: #1D2739;
  --nav-shadow: #293449;
  --border-card: #EAEAEA;
  --backgraund-popular: #F9F5F0;
  --buy-button-shadow: #367315;
  --buy-button-active: #518534;
  --old-price: #A9A9A9;
  --title-background: #F2F6F8;
  --filter-background: #F7F3EC;
  --border-button-catalog: #E5E5E5;
  --buttoms-panel: #F1F1F1;
  --logo-shadow: #b52933;
  --logo-shadow-active: #8d1e26;
  --background-social: #212A3A;
  --scale: #d7dcde;
  --scale-bar: #00ca74;
  --tiggle: #ABABAB;
  --shadow-tiggle: #cfcfcf;
  --checkbox: #b5b5b5;
  --design-button-focus: #CA2C37;
  --card-shadow: rgba(0, 0, 0, 0.15);
  --tile-none: rgba(255, 255, 255, 0.3);
  --tile-active: rgba(169, 169, 169, 0.3);
  --tile-hover: rgba(197, 197, 197, 0.3);
  --semi-transparent: rgba(255, 255, 255, 0.5);
  --styly-button: rgba(0, 0, 0, 0.3);
  --shadow-message-buy: rgba(41, 52, 73, 0.75);
  --first-font: "Cuprum", Arial, sans-serif;
  --second-font: "PT Sans", Arial, sans-serif;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--first-font, Arial, sans-serif);
  color: var(--Text-black, black);
  background-color: var(--Wight, white);
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

a {
  text-decoration: none;
  color: var(--Wight, white);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  margin: 0;
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}

/* header */

.header-site {
  display: flex;
  flex-direction: column;
  background-color: var(--basic-background, lightblue);
}

.top-header-site {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--Wight, white);
  background-color: var(--basic-grey, darkblue);
}

.wrapper {
  display: inherit;
  width: 940px;
  margin: 0 auto;
}

.trade-header-site {
  display: flex;
  align-items: center;
  width: 450px;
  height: 100%;
}

.logo-header-site {
  position: relative;
  display: block;
  width: 220px;
  height: 42px;
  padding: 12px 57px 17px 55px;
  background-color: var(--basic-red, red);
}

.logo-header-site::after {
  position: absolute;
  left: 0;
  bottom: -5px;

  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--logo-shadow, darkred);
  content: "";
}

.logo-header-site[href]:active {
  background-color: var(--error, darkred);
}

.logo-header-site[href]:active::after {
  background-color: var(--logo-shadow-active, darkred);
}

.form-search {
  position: relative;
  flex-grow: 1;
}

.input-search::-moz-placeholder {
  color: var(--wight, white);
  opacity: 1;
}

.input-search::-webkit-input-placeholder {
  color: var(--wight, white);
}

.input-search {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  
  font: inherit;
  
  outline: none;
  border: none;
  background-color: transparent;
}

.input-search:focus {
  color: var(--text-black, black);
  background-color: var(--wight, white);
}

.icon-search {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;
  margin: 0;
  padding: 0;
  
  cursor: text;
  content: "";
} 

.input-search:hover ~ .icon-search path {
  fill: var(--wight, white);
}

.input-search:focus ~ .icon-search path {
  fill: var(--basic-red, red);
}

.trade-header-site .link {
  position: relative;
  display: block;
  min-width: 150px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.trade-header-site .link:focus {
  outline: none;
}

.trade-header-site .active {
  background-color: var(--basic-red, red);
}


.link-bookmarked {
  padding-left: 43px;
}

.link-bookmarked::before {
  position: absolute;
  top: 13px;
  left: 20px;

  width: 14px;
  height: 16px;
  
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  content: "";
}

.link-bascet {
  padding-left: 49px;
}

.link-bascet::before {
  position: absolute;
  top: 13px;
  left: 26px;

  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  content: "";
}

.trade-header-site .link:hover::before,
.trade-header-site .link:focus::before {
  opacity: 1;
}

.trade-header-site .link:active::before {
  opacity: 0.3;
}

.link-bookmarked:active,
.link-bascet:active {
  color: var(--semi-transparent);
  background-color: var(--dark-blue, darkblue);
}

.trade-header-site .link-arrange {
  flex-grow: 0;
  padding-right: 16px;
  padding-left: 19px;
  background-color: var(--basic-green, lightgreen);
}

.link-arrange:focus,
.link-arrange:hover {
  background-color: var(--success, green);
  outline: none;
}

.link-arrange:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-green, lightgreen);
}

.trade-header-site .not-empty {
  background-color: var(--basic-red, red);
}

.trade-header-site .not-empty:active {
  background-color: var(--error, darkred);
}

.center-header-site {
  display: flex;
  min-height: 158px;
  padding-top: 46px;
  padding-bottom: 40px;
}

.center-header-site.logged-in {
  padding-bottom: 26px;
}

.text-center-header-site {
  display: block;
  width: 197px;
  margin: 0;
  margin-top: -4px;
  margin-left: 31px;
  padding: 0;
  
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-red, red);
}

.contact-header-site {
  margin-left: 92px;
}

.contact-header-site .tel {
  position: relative;
  display: inline-block;
  width: 270px;
  min-height: 45px;
  padding: 4px 36px 5px 71px;
  
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: var(--first-font, Arial, sans-serif);
  color: var(--basic-red, red);
  
  border: 3px solid var(--wight, white);
}

.contact-header-site .tel:before {
  position: absolute;
  top: 10px;
  left: 36px;

  width: 19px;
  height: 19px;
  
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.contact-header-site .adress {
  max-width: 270px;
  margin: 0;
  margin-top: 3px;
  
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--nav-blue, darkblue);
}

.entrace {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  max-width: 299px;
  margin-left: auto;
}

.entrace li:nth-child(1) .link {
  position: relative;
  padding: 12px 27px 12px 45px;
}

.entrace li:nth-child(1) .link svg {
  position: absolute;
  top: 13px;
  left: 19px;

  width: 20px;
  height: 17px;
  
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.entrace li:nth-child(1) .link:hover path, .entrace li:nth-child(1) .link:focus path {
  fill: var(--basic-grey, darkgray);
}

.entrace li:nth-child(1) .link:active path {
  fill: var(--basic-greylight, gray);
}

.entrace li:nth-child(2) .link {
  margin-left: 10px;
  padding: 12px 24px;
}

.entrace .link {
  display: block;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--text-black, black);
  background-color: var(--wight, white);
}

.entrace .link:hover,
.entrace .link:focus {
  color: var(--basic-red, red);
  outline: none;
}

.entrace .link:active {
  color: var(--basic-greylight, lightgray);
}

.output-name-user {
  position: relative;
  width: 299px;
  padding: 12px 0;
  
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  background-color: var(--wight, white);
}

.output-name-user .link-name-user {
  color: var(--text-black, black);
}

.output-name-user .link-name-user svg {
  position: absolute;
  top: 13px;
  left: 15px;

  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.output-name-user .log-out {
  position: absolute;
  top: 14px;
  right: 18px;

  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.output-name-user .link-name-user:focus {
  outline: none;
}

.output-name-user .link-name-user:focus path,
.output-name-user .link-name-user:hover path {
  fill: var(--basic-grey, darkgray);
}

.output-name-user .link-name-user:active path {
  fill: var(--basic-greylight, gray);
}

.output-name-user .log-out:focus {
  outline: none;
}

.output-name-user .log-out:hover path,
.output-name-user .log-out:focus path {
  fill: var(--basic-grey, darkgray);
}

.output-name-user .log-out:active path {
  fill: var(--basic-greylight, gray);
}

.output-name-user .link-name-user:active {
  color: var(--basic-greylight, gray);
}

.person {
  margin-left: auto;
}

.nav-person {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 299px;
  margin-top: 4px;
}

.nav-person li:not(:last-child)::after {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 14px;
  margin-bottom: 2px;
  
  vertical-align: middle;
  background-color: var(--nav-blue, darkblue);
  border-radius: 50%;
  content: "";
}

.nav-person .link {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--nav-blue, darkblue);
  background-color: transparent;
}

.nav-person .link:hover,
.nav-person .link:focus {
  color: var(--basic-red, red);
  outline: none;
}

.nav-person .link:active {
  color: var(--basic-greylight, lightgray);
}

.bottom-header-site {
  padding-bottom: 60px;
}

.nav-header-site {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-right: 19px;
  padding-left: 24px;

  box-shadow: inset 0 -5px 0 var(--nav-shadow, darkblue);
  background-color: var(--nav-blue, blue);
}

.nav-header-site .nav-item {
  flex-grow: 1;
flex-shrink: 0;
}

.nav-header-site .link {
  display: block;
  padding: 17px 28px 19px 28px;
  
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--first-font, Arial, sans-serif);
  text-align: center;
  
  box-shadow: inset 0 -5px 0 var(--nav-shadow, darkblue);
  background-color: var(--nav-blue, blue);
}

.nav-header-site :nth-child(4) .link {
  padding-right: 26px;
  padding-left: 30px;
}

.nav-header-site :nth-child(5) .link {
  padding-right: 26px;
  padding-left: 30px;
}

.nav-header-site .link[href]:focus,
.nav-header-site .link[href]:hover {
  background-color: var(--nav-shadow);
  outline: none;
}

.nav-header-site .link[href]:active {
  color: var(--semi-transparent, gray);
  box-shadow: inset 0 -5px 0 var(--nav-shadow, darkblue);
  background-color: var(--nav-active, darkblue);
}

/* footer */

.footer-site {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--nav-blue, blue);
}

.top-footer-site {
  padding-bottom: 54px;
}

.first-line-footer-site {
  display: flex;
  justify-content: space-between;
}

.logo-footer-site {
  position: relative;
  display: block;
  width: 220px;
  height: 68px;
  padding: 20px 42px 25px 42px;
  background-color: var(--basic-red, red);
}

.logo-footer-site[href]:active {
  background-color: var(--error, darkred);
}

.logo-footer-site::after {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--logo-shadow, darkred);
  content: "";
}

.logo-footer-site[href]:active::after {
  background-color: var(--logo-shadow-active, darkred);
}

.adress-footer-site {
  max-width: 330px;
  margin-top: 22px;
  margin-bottom: 0;
  padding-left: 4px;
  color: var(--basic-background, white);
}

.nav-footer-site {
  width: 547px;
  margin-top: 37px;
}

.nav-footer-site .nav-footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.nav-footer-site .link {
  margin: 0;
  margin-right: 5px;
  color: var(--basic-background, white);
}

.nav-footer-site li:last-child .link {
  margin: 0;
}

.nav-footer-site .link[href]:hover,
.nav-footer-site .link[href]:focus {
  text-decoration: underline;
  outline: none;
}

.nav-footer-site .link[href]:active {
  text-decoration: none;
  color: var(--semi-transparent, gray);
}

.second-line-footer-site {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trade-footer-site {
  width: 523px;
  margin-top: 27px;
}

.trade-footer-site .trade-footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.trade-footer-site .link {
  margin: 0;
  margin-right: 5px; 
  color: var(--special-yellowlight, lightyellow);
}

.trade-footer-site li:last-child .link {
  margin: 0;
}

.trade-footer-site .link:hover,
.trade-footer-site .link:focus {
  text-decoration: underline;
  outline: none;
}

.trade-footer-site .link:active {
  text-decoration: none;
  opacity: 0.5;
}

.bottom-footer-site {
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: var(--nav-shadow, darkblue);
}

.copyright-footer-site {
  max-width: 227px;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--wight, white);
}

.social-footer-site {
  display: flex;
  margin-left: 165px;
}

.social-footer-site .link {
  display: inline-block;
  width: 41px;
  height: 41px;
  margin-right: 4px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: var(--background-social, darkblue);
}

.social-footer-site li:last-of-type .link {
  margin-right: 0;
}

.social-footer-site .link:hover,
.social-footer-site .link:focus,
.social-footer-site .link:active {
  background-color: var(--basic-red, red);
  outline: none;
}

.social-footer-site .link.vc {
  display: block;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 8px 13px;
  background-size: 26px 15px;
}

.social-footer-site .link.fb {
  display: block;
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 14px 10px;
  background-size: 12px 22px;
}

.social-footer-site .link.instagramm {
  display: block;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 21px 21px;
}

.feedback {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin-right: 13px;
  margin-left: auto;
}

.feedback .text:nth-last-child(n+2) {
  margin-right: 51px;
}

.feedback .text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--wight, white);
}

.feedback .link {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-yellowlight, lightyellow);
}

.feedback .link:hover,
.feedback .link:focus {
  text-decoration: underline;
  outline: none;
}

.feedback .link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* main */

.main-index {
  padding-top: 60px;
  padding-bottom: 71px;
}

.promo {
  display: flex;
  justify-content: space-between;
  min-height: 409px;
  height: 100%;
}

.left-column-promo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 620px;
}

.right-column-promo {
  display: flex;
  flex-direction: column;
}

.info-tile {
  position: relative;
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
  padding: 20px 23px;
}

.right-column-promo > .info-tile:last-child {
  margin-bottom: 0;
}

.info-tile .name-tile {
  width: 150px;
  margin: 0;
  margin-bottom: 14px;
  
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--wight, white);
}

.new::after {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 2;

  width: 70px;
  height: 70px;
  
  background-image: url("../img/new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.info-tile.new::after {
  top: 0;
  right: 0;
}

.info-tile .button-tile {
  display: block;
  width: 135px;
  padding: 10px 5px;
  
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--tile-none, red);
}

.info-tile .button-tile:hover, 
.info-tile .button-tile:focus {
  background-color: var(--tile-hover, red);
  outline: none;
}

.info-tile .button-tile:active {
  background-color: var(--tile-active, red);
}

.tile-material {
  background-color: var(--special-ylellow, yellow);
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
  background-size: 44px 65px;
}

.tile-tools {
  background-color: var(--special-blue, lightblue);
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 194px 34px;
  background-size: 75px 61px;
}

.tile-technics {
  background-color: var(--special-lilac, purple);
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
  background-size: 78px 62px;
}

.tile-sale {
  background-color: var(--special-greenlight, lightgreen);
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
  background-size: 59px 72px;
}

.tile-delivery {
  background-color: var(--second-special-ylellow, yellow);
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
  background-size: 78px 63px;
}

.slider-promo {
  position: relative;
  width: 620px;
  min-height: 266px;
  margin: 0;
}

.slide-promo {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  height: 266px;
  margin: 0;
}

.slide-promo.slide-current {
  display: flex;
}

.slide-promo .title {
  margin: 0;
  margin-top: 23px;
  margin-left: 24px;
  
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--wight, white);
  text-transform: uppercase;
  background-color: transparent;
}

.slide-promo .description {
  margin-top: 5px;
  margin-left: 24px;
  
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--wight, white);
  background-color: transparent;
}

.management-slider-promo-off {
  display: none;
}

.management-slider-promo .button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.management-slider-promo-arrows .button {
  position: absolute;
  top: 120px;
  left: 24px;

  width: 22px;
  height: 39px;
  background-color: transparent;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.management-slider-promo-arrows .right-arrow-button {
  left: auto;
  right: 20px;
  background-image: url("../img/icon-right.svg");
}

.management-slider-promo-round {
  position: absolute;
  bottom: 36px;
  left: 50%;

  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: -15px;
  padding: 0;
}

.management-slider-promo-round .button {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: var(--wight, white);
}

.management-slider-promo-round .button:not(:last-child) {
  margin-right: 10px;
}

.management-slider-promo-round .button.current {
  width: 10px;
  height: 10px;
  border: 2px solid var(--wight, white);
  border-radius: 50%;
  background-color: var(--basic-red, red);
}

.slide-promo .design-button {
  min-width: 192px;
  margin-top: auto;
  margin-bottom: 27px;
  margin-left: 24px;
}

.design-button {
  display: inline-block;
  padding: 3px;
  padding-top: 11px;
  padding-bottom: 9px;
  
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--first-font, Arial, sans-serif);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--wight, white);
  background-color: var(--basic-red, red);
  outline: none;
  border: none;
}

.design-button:focus,
.design-button:hover {
  background-color: var(--design-button-focus, darkred);
  outline: none;
}

.design-button:active {
  background-color: var(--error, darkred);
}

.slide-drill {
  background-color: var(--basic-grey, gray);
  background-image: url("../img/slide-drill.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.slide-perforator {
  background-color: var(--basic-grey, gray);
  background-image: url("../img/slide-perforator.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.popular-products {
  margin-top: 58px;
}

.popular-products .top-section {
  display: flex;
  align-items: center;
  padding: 25px 0;
  padding-right: 14px;
  padding-left: 28px;
  background-color: var(--backgraund-popular, lightgray);
}

.popular-products .top-section .title {
  margin: 0;
  margin-right: auto;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--nav-blue, blue);
}

.popular-products .design-button {
  width: 192px;
}

.popular-product {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.item-product {
  position: relative;
  width: 220px;
  min-height: 318px;
}

.card-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: inherit;
  background-color: var(--wight, white);
  border: 1px solid var(--border-card);
}

.card-product:hover {
  box-shadow: 0 4px 20px var(--card-shadow, lightgray);
}

.image-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 218px;
  height: 100%;
  margin: 0;
  background-color: var(--wight, white);
  object-fit: contain;
}

.card-product:hover .image-box {
  z-index: 0;
  opacity: 0.1;
}

.button-buy:focus ~ .image-box,
.button-bookmark:focus ~ .image-box {
  z-index: 0;
  opacity: 0.1;
}

.button-buy {
  position: relative;
  z-index: 1;

  display: block;
  width: 135px;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 10px;
  padding: 10px 0 10px 52px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--wight, white);
  box-shadow: inset 0 -3px 0 var(--buy-button-shadow, green);
  background-color: var(--basic-green);
  border-radius: 2px;
}

.button-buy::before {
  position: absolute;
  top: 10px;
  left: 30px;

  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  content: "";
}

.button-buy:focus,
.button-buy:hover {
  background-color: var(--success, lightgreen);
  outline: none;
}

.button-buy:active {
  background-color: var(--buy-button-active, darkgreen);
}

.button-bookmark {
  position: relative;
  z-index: 1;

  display: block;
  width: 135px;
  margin: 0 auto;
  padding: 8px 10px 6px 10px;
  
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--nav-blue, blue);
  
  background-color: transparent;
  border: 3px solid var(--basic-green, green);
  border-radius: 2px;
}

.button-bookmark:focus,
.button-bookmark:hover {
  border-color: var(--nav-blue, blue);
  outline: none;
}

.button-bookmark:active {
  opacity: 0.5;
}

.card-product .title {
  margin: 0;
  margin-bottom: 7px;
  padding: 0px 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  font-family: var(--second-font, Arial, sans-serif);
  text-align: center;
  color: var(--text-black, black);
}

.layer-card {
  position: relative;
  order: -1;

  width: 218px;
  min-height: 170px;
  margin-bottom: auto;
}

.card-product .old-price {
  position: relative;
  display: block;
  min-height: 18px;
  margin: 0;
  margin-bottom: 13px;
  
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
  text-align: center;
  text-transform: uppercase;
  color: var(--old-price, gray);
}

.card-product .old-price::before {
  position: absolute;
  top: 11px;
  left: 0;

  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--old-price, gray);
  content: "";
}

.old-price:not(:empty)::after,
.new-price:not(:empty)::after {
  letter-spacing: -2px;
  content: "\00a0\00a0 Р.";
}

.card-product .new-price {
  display: block;
  min-width: 141px;
  min-height: 38px;
  margin: 0;
  margin-bottom: 21px;
  margin-left: 11px;
  padding: 10px 15px 10px 2px;
  
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
  text-align: center;
  text-transform: uppercase;
  color: var(--wight, white);
  
  background-color: var(--basic-red, red);
  background-image: url("../img/red-button.svg");
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.image-product[src="img/snippet-32961.png"] {
  width: 100%;
  margin-top: 4px;
  padding-right: 17px;
  padding-left: 15px;
}

.image-product[src="img/snippet-18927.png"] {
  width: 100%;
  padding-top: 28px;
  padding-right: 52px;
  padding-left: 38px;
}

.image-product[src="img/snippet-945.png"] {
  width: 100%;
  padding-top: 22px;
  padding-right: 42px;
  padding-left: 32px;
}

.popular-vendors {
  margin-top: 71px;
  margin-bottom: 70px;
}

.popular-vendors .top-section {
  display: flex;
  align-items: center;
  padding: 25px 0;
  padding-right: 19px;
  padding-left: 28px;
  background-color: var(--backgraund-popular, lightgray);
}

.popular-vendors .design-button {
  width: 192px;
}

.popular-vendors .top-section .title {
  margin: 0;
  margin-right: auto;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--nav-blue, blue);
}

.popular-vendor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.popular-vendor .vendor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  background: var(--wight, white);
  border: 1px solid var(--border-card, gray);
}

.popular-vendor li:nth-last-child(-n+4) .vendor {
  margin-bottom: 0;
}

.popular-vendor :nth-child(1) .vendor {
  padding-top: 2px;
}

.popular-vendor :nth-child(2) .vendor {
  padding-bottom: 3px;
}

.popular-vendor :nth-child(3) .vendor {
  padding-bottom: 3px;
}

.popular-vendor :nth-child(4) .vendor {
  padding-right: 1px;
  padding-bottom: 12px;
}

.popular-vendor :nth-child(5) .vendor {
  padding-top: 3px;
  padding-left: 5px;
}

.popular-vendor :nth-child(6) .vendor {
  padding-right: 3px;
}

.popular-vendor :nth-child(7) .vendor {
  margin-top: 1px;
  padding-left: 1px;
}

.popular-vendor :nth-child(8) .vendor {
  padding-top: 1px;
}

.popular-vendor .vendor:focus,
.popular-vendor .vendor:hover {
  box-shadow: 0 4px 20px var(--card-shadow, lightgray);
  outline: none;
}

.popular-vendor .vendor:active {
  opacity: 0.5;
}

.service {
  background-color: var(--basic-background, lightblue);
}

.service .wrapper {
  position: relative;
  padding-top: 64px;
}

.header-service {
  margin: 0;
  margin-bottom: 70px;
}

.service .title {
  margin: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-black, black);
}

.service .text {
  margin: 0;
  margin-top: 25px;
  font-size: 13px;
  line-height: 24px;
  font-family: var(--second-font, Arial, sans-serif);
  color: var(--text-black, black);
}

.service-slider {
  display: flex;
}

.buttons-slider-service {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 240px;
  margin-right: 80px;
}

.service-slider .buttons-slider-service-off {
  display: none;
}

.buttons-slider-service:after {
  position: absolute;
  top: -45px;
  right: 0;
  
  width: 10px;
  height: 279px;
  background-color: transparent;
  background-image: url("../img/layer118.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  pointer-events: none;
  content: "";
}

.button-slider-service {
  display: block;
  width: 240px;
  min-height: 62px;
  padding: 13px 0 17px 22px;
  
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: var(--first-font, Arial, sans-serif);
  text-align: left;
  background-color: var(--nav-blue, darkblue);
  color: var(--wight, white);
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  border: none;
  outline: none;
}

.button-slider-service:focus, .button-slider-service:hover {
  background-color: var(--nav-shadow, darkblue);
}

.button-slider-service.button-current {
  color: var(--nav-blue, darkblue);
  background-color: var(--wight, white);
  box-shadow: 0 1px 0 var(--wight, white), inset 0 1px 0 var(--wight, white);
}

.slides-service {
  flex-grow: 1;
}

.slide-delivery::after {
  position: absolute;
  left: 151px;
  top: 20px;

  width: 468px;
  height: 261px;
  background-color: transparent;
  background-image: url("../img/layer131_1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  pointer-events: none;
  content: "";
}

.slide-warranty::after {
  position: absolute;
  left: 165px;
  top: -2px;

  width: 389px;
  height: 283px;
  background-color: transparent;
  background-image: url("../img/layer130-2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  pointer-events: none;
  content: "";
}

.slide-credit::after {
  position: absolute;
  left: 165px;
  top: 0px;

  width: 465px;
  height: 285px;
  background-color: transparent;
  background-image: url("../img/layer119-3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  pointer-events: none;
  content: "";
}

.slide-service {
  position: relative;
  display: none;
  min-height: 285px;
}

.slide-service .slide-title {
  position: relative;
  z-index: 1;

  margin: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--nav-blue, darkblue);
}

.slide-service .text {
  position: relative;
  z-index: 1;

  width: 313px;
  font-weight: normal;
  font-size: 13px;
  line-height: 25px;
  font-family: var(--second-font, Arial, sans-serif);
  color: var(--text-black, black);
}

.slide-credit .design-button {
  min-width: 195px;
  margin-top: 26px;
  border-radius: 2px;
}

.slide-service.slide-current {
  display: block;
}

.bottom-main {
  display: flex;
  width: 100%;
  margin-top: 70px;
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 478px;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
}

.bottom-main .title {
  margin: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-black, black);
}

.bottom-main .text {
  margin: 0;
  margin-top: 24px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: var(--second-font, Arial, sans-serif);
  color: var(--text-black, black);
}

.bottom-main .text:last-of-type {
  margin-bottom: 0;
}

.carrier .name-partner {
  margin: 0;
  margin-top: 12px;
}

.carrier .name-partner::before {
  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 12px;
  margin-bottom: 5px;
  vertical-align: baseline;
  background-color: var(--basic-red, red);
  content: "";
}

.carrier :first-child {
  margin-top: 5px;
}

.bottom-main .carrier {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-black, black);
}

.about-me .design-button {
  width: 220px;
  margin-top: auto;
}

.contact .design-button {
  width: 300px;
  margin-top: auto;
}

.map {
  display: block;
  width: 300px;
  height: 158px;
  margin-top: 32px;
  margin-bottom: 25px;
}

/* main catalog */

.page-catalog {
  display: grid;
  align-content: start;
  grid-template-columns: 220px 1fr;
  padding-bottom: 59px;
}

.main-title {
  grid-column: 1 / -1;
  min-height: 89px;
  margin: 0;
  margin-bottom: 20px;
  padding: 31px 10px 29px 29px;
  
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--nav-blue, darkblue);
  background-color: var(--title-background, lightblue);
}

.breadcrumbs {
  grid-column: 1 / -1;
  padding: 21px 0 19px 0;
  min-height: 59px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs .link {
  position: relative;
  display: block;
  margin-right: 41px;
  
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
  text-transform: uppercase;
  color: var(--text-black, black);
  background-color: transparent;
}

.breadcrumbs li:first-child .link {
  width: 14px;
  height: 18px;
  background-color: transparent;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-list :last-child .link {
  margin-left: 2px;
  pointer-events: none;
  cursor: default;
}

.breadcrumbs-list :not(:last-child) .link::after {
  position: absolute;
  right: -25px;
  bottom: 2px;

  width: 8px;
  height: 12px;
  background-color: transparent;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  pointer-events: none;
  content: "";
}

.filter {
  width: 220px;
}

.filter .main-section-title {
  display: block;
  width: 100%;
  min-height: 38px;
  margin: 0;
  padding: 10px 18px;
  
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
  text-transform: uppercase;
  color: var(--text-black, black);
  background-color: var(--filter-background, gray);
  border-radius: 2px;
}

.section-title {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: var(--second-font, Arial, sans-serif);
}

.style-fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.form-filter {
  width: 100%;
  margin-top: 12px;
}

.price-filter {
  width: inherit;
  margin-top: 11px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding: 39px 20px;
  background-color: var(--filter-background, gray);
  border-radius: 4px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--scale, darkgray);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--scale-bar, green);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;
  
  border: 8px solid var(--wight, white);
  background-color: var(--tiggle, lightgray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow-tiggle, darkgray);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.price-controls .input::-webkit-outer-spin-button,
.price-controls .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-controls .input[type=number] {
  -moz-appearance: textfield;
}

.price-controls .input {
  width: 95px;
  height: 38px;
  margin: 0;
  padding: 10px;
  
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
  font-family: var(--second-font, Arial, sans-serif);
  text-align: center;

  border: none;
  border-radius: 2px;
  background-color: var(--filter-background);
}

.price-controls::after {
  position: absolute;
  bottom: 0px;
  left: 50%;

  display: inline-block;
  width: 30px;
  height: 18px;
  margin-left: -15px;
  
  font-weight: normal;
  font-size: 16px;
  line-height: 1px;
  text-align: center;
  content: "—";
}

.brend {
  margin-top: 42px;
}

.style-fieldset:not(:first-child) .section-title {
  position: relative;
}

.style-fieldset .section-title::after {
  position: absolute;
  top: -17px;
  left: 0;
  
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--border-button-catalog, darkgray);
  content: "";
}

.brend .list-brend {
  margin: 0;
  padding: 0;
  padding-top: 18px;
}

.brend .checkbox-brend {
  margin: 0;
}

.list-brend li:not(:last-child) .checkbox-brend {
  margin-bottom: 20px;
}

.checkbox-brend::before {
  position: absolute;
  top: -2px;
  left: 0;

  width: 23px;
  height: 23px;
  border: 2px solid var(--checkbox, darkgray);
  border-radius: 3px;
  opacity: 0.7;
  content: "";
}

.input:checked + .checkbox-brend::before {
  position: absolute;
  top: -2px;


  width: 26px;
  height: 23px;
  border: none;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
  content: "";
}

.checkbox-brend:hover::before,
.input:focus + .checkbox-brend::before,
.input:checked + .checkbox-brend:hover::before,
.input:checked:focus + .checkbox-brend::before {
  opacity: 1;
}

.input:disabled + .checkbox-brend {
  opacity: 0.5;
}

.input:disabled + .checkbox-brend::before,
.input:disabled + .checkbox-brend::after {
  opacity: 0.5;
}

.power-supply {
  margin-top: 45px;
}

.list-power-supply {
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.list-power-supply li:not(:last-child) .input-radio {
  margin-bottom: 22px;
}

.input-radio::before {
  position: absolute;
  top: -3px;
  left: 0;

  width: 25px;
  height: 25px;
  border: 4px solid var(--checkbox, darkgray);
  border-radius: 50%;
  opacity: 0.7;
  content: "";
}

.input:checked + .input-radio::after {
  position: absolute;
  top: 5px;
  left: 8px;

  width: 9px;
  height: 9px;
  background-color: var(--checkbox, darkgray);
  border-radius: 50%;
  opacity: 0.7;
  content: "";
}

.input-radio:hover::before, 
.input:focus + .input-radio::before, 
.input:checked + .input-radio:hover::after, 
.input:checked:focus + .input-radio::after {
  opacity: 1;
}

.input:disabled + .input-radio::before,
.input:disabled + .input-radio::after {
  opacity: 0.5;
}

.input:disabled + .input-radio {
  opacity: 0.5;
}

.filter .catalog-button {
  width: 100%;
  margin: 0;
  margin-top: 37px;
  border-radius: 0;
}

.filter .checkbox-name-item {
  position: relative;
  display: block;
  padding-left: 35px;
  
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  font-family: var(--second-font, Arial, sans-serif);
  text-transform: uppercase;
  color: var(--text-black, black);
  background-color: transparent;
  cursor: pointer;
}

.catalog-button {
  display: block;
  min-height: 38px;
  padding: 9px 15px 9px 15px;
  
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
  text-align: center;
  text-transform: uppercase;
  color: var(--text-black, black);
  
  background-color: var(--wight, white);
  border: 1px solid var(--border-button-catalog, gray);
  border-radius: 2px;
  outline: none;
}

.catalog-button:focus,
.catalog-button:hover {
  border: 1px solid var(--basic-greylight, lightgray);
  border-radius: 2px;
}

.catalog-button:active {
  border: 1px solid var(--basic-red, red);
  border-radius: 2px;
}

.right-side-catalog {
  margin-left: 20px;
}

.sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 38px;
  padding: 5px 18px 8px 20px;
  
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
  text-transform: uppercase;
  color: var(--text-black, black);
  
  border-radius: 2px;
  background-color: var(--filter-background);
}

.sort .sort-title {
  max-width: 200px;
  margin: 0;
  margin-right: auto;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--second-font, Arial, sans-serif);
}

.sort .sort-sign {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
  margin-right: 46px;
}

.button-sort-text {
  margin-right: 65px;
}

.sort-sign :first-child .button-sort-text {
  margin-right: 70px;
}

.sort-sign :last-child .button-sort-text {
  margin: 0;
}

.sort .big-small {
  display: flex;
  max-width: 100px;
  padding-top: 2px;
}

.sort .big-small :not(:last-child) .button-sort-icon {
  margin-right: 21px;
}

.sort .button-sort-icon:focus {
  outline: none;
}

.sort .button-sort-icon:focus path,
.sort .button-sort-icon:hover path {
  fill: var(--basic-grey, darkgray);
}

.sort .button-sort-active path {
  fill: var(--basic-red, red);
}

.button-sort-text {
  color: var(--styly-button, gray);
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: var(--basic-red, red);
}

.button-sort-text:focus,
.button-sort-text:hover {
  color: var(--text-black, black);
  border-bottom-style: solid;
  outline: none;
}

.sort-active {
  color: var(--basic-red, red);
  border-bottom: none;
  pointer-events: none;
  cursor: default;
}

.sort-active:focus {
  color: var(--basic-red, red);
  border-bottom: none;
  outline: none;
}

.catalog-product {
  margin-top: 28px;
}

.card-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  grid-row-gap: 18px;
  grid-column-gap: 20px;
}

.pagination {
  margin-top: 47px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
}

.pagination-list .catalog-button {
  display: block;
  margin-right: 9px;
}

.pagination .catalog-button.active {
  color: var(--wight, white);
  background-color: var(--basic-red, red);
  pointer-events: none;
  cursor: default;
}

.pagination-list :last-child .catalog-button {
  margin: 0;
  min-width: 140px;
}

.second-info {
  padding-top: 65px;
  padding-bottom: 69px;
  background-color: var(--basic-background, lightblue);
}

.second-info .second-info-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-black, black);
  background-color: transparent;
}

.second-info .content p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: var(--second-font, Arial, sans-serif);
  color: var(--text-black, black);
  background-color: transparent;
}

.content :first-child {
  padding: 0; 
}

.popup-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;

  display: none;
  width: 943px;
  height: 449px;
  margin-left: -471px;
  margin-top: -225px;
  background-color: var(--basic-grey, gray);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.popup-map .image-map {
  max-width: none;
  width: auto;
  margin-top: -14px;
  margin-left: -15px;
}

.popup-map::after {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  width: 100%;
  height: 7px;
  vertical-align: middle;
  background-color: var(--basic-red, red);
  content: "";
}

.popup-map .button-close {
  position: absolute;
  top: 17px;
  right: 10px;

  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.write-us {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;

  display: none;
  width: 620px;
  min-height: 430px;
  margin-top: -215px;
  margin-left: -310px;
  background-color: var(--wight, white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.write-us::before {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 7px;
  vertical-align: middle;
  background-color: var(--basic-red, red);
  content: "";
}

.write-us .button-close {
  position: absolute;
  top: 21px;
  right: 11px;

  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.form-write-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--first-font, Arial, sans-serif);
}

.write-us .list-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  margin: 0 auto;
  margin-top: 46px;
}

.write-us .input {
  margin: 0;
  margin-top: 11px;
  border: 2px solid var(--basic-greylight, gray);
  border-radius: 2px;
}

.form-write-us .top-input {
  display: block;
  width: 220px;
  height: 38px;
  margin-bottom: 13px;
  padding-left: 12px;
}

.form-write-us .bottom-input {
  display: block;
  width: 460px;
  min-height: 114px;
  padding: 6px 12px;
  resize: none;
}

.bottom-write-us {
  padding: 37px 0;
  background-color: var(--buttoms-panel, gray);
}

.bottom-write-us .design-button {
  display: block;
  width: 460px;
  margin: auto;
}

.message-buy {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;

  display: none;
  width: 620px;
  min-height: 282px;
  margin-top: -141px;
  margin-left: -310px;
  background-color: var(--wight, white);
  box-shadow: 0 20px 40px var(--shadow-message-buy, darkgray);
}

.message-buy-content {
  display: flex;
  flex-direction: column;
}

.message-buy::before {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  width: 100%;
  height: 7px;
  vertical-align: middle;
  background-color: var(--basic-red, red);
  content: "";
}

.message-buy::after {
  position: absolute;
  top: 55px;
  left: 81px;

  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.message-buy .button-close {
  position: absolute;
  top: 18px;
  right: 11px;

  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.text-message {
  width: 100%;
  margin: 0;
  padding-top: 73px;
  padding-bottom: 67px;
  
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: var(--first-font, Arial, sans-serif);
  text-align: center;
}

.buttons-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: auto;
  padding: 37px;
  background-color: var(--buttoms-panel, gray);
}

.buttons-panel .link {
  width: 192px;
}

.buttons-panel :not(:first-child) {
  margin-left: 10px;
  color: var(--text-black, black);
  background-color: var(--wight, white);
}

.popup-on {
  display: block;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}